
  <% @images_near.each do |image| %> 
  <div class="square">
    <%= image_tag image[1].photo.url(:small) %>
    <div>
      <h2><%= image[0].round(2) %> Miles </h2>
      <%= image_tag(image[2], :class => "nav") %>
    </div>
  </div>
  <br>
  <% end %>
