<p id="location"><%= @coords %></p>
<ul>
  <% @images_near.each do |image| %> 
  <li><%= image_tag image[1].photo.url %></li>
  <li><%= image[0].round(2) %> Miles <%= image[2] %> degrees NSEW</li>
  <% end %>
</ul>
