<br>
  <div class="image_feed">
  </div>
  <div>
    <ul>
      <% @images.each do |image| %>
        
        <li> <%= link_to image.address %></li>
        <li> <%= image.nearbys(2) %></li>
        
      <% end %>
    </ul>
  </div>
<br>

<%= link_to 'New Image', new_image_path %>

